body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;       
    background: linear-gradient(to bottom, rgb(230, 182, 173), rgb(211, 52, 12));
}

.box {
    width: 300px; /* Define a largura fixa */
    height: 650px; /* Define a altura fixa */
    background-color: #f0f0f0; /* Apenas para visibilidade */
    border: 1px solid #ccc;
    overflow: auto;
}

#map {
    position: relative;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#map .vehicule-point {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: blue;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#map .rescue-point {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#map .clear-point {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.line {
    position: absolute;
    background-color: black;
}

.horizontal.line {
    width: 100%;
    height: 1px;
    top: 50%;
}

.vertical.line {
    height: 100%;
    width: 1px;
    left: 50%;
}